---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<style>
    header {
        display: flex;
        gap: 1 rem;
        margin-top: 2 rem;
    }</style>

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>